name: Docker Test & Publish

on:
  push:
    branches:
      - "master"
      - "develop"
    tags:
      - "*"
    paths-ignore:
      - ".github/**"
      - "!.github/workflows/docker.yaml"
      - ".vscode/**"
      - ".gitignore"
      - "stack/**"
      - "LICENSE"
      - "README"
  workflow_dispatch:

env:
  REGISTRY: ghcr.io

jobs:
  base:
    name: Build base image
    runs-on: ubuntu-latest

    if: startsWith(github.event.head_commit.message, 'Merge')

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push base image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ghcr.io/kimanilife/base:latest
          cache-from: type=gha,scope=buildx-base-multi-arch
          cache-to: type=gha,scope=buildx-base-multi-arch,mode=max

  publish:
    needs: [base]
    name: Build ${{ matrix.project }} image
    runs-on: ubuntu-latest

    if: startsWith(github.event.head_commit.message, 'Merge')

    permissions:
      contents: read
      packages: write

    strategy:
      matrix:
        project: [delta, bonfire]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Resolve project metadata
        uses: kanga333/variable-mapper@master
        id: export
        with:
          key: "${{ matrix.project }}"
          map: |
            {
              "delta": {
                "path": "crates/delta",
                "tag": "kimanilife/server"
              },
              "bonfire": {
                "path": "crates/bonfire",
                "tag": "kimanilife/bonfire"
              }
            }
          export_to: output

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ steps.export.outputs.tag }}
          tags: |
            type=ref,event=branch
            type=ref,event=tag
            type=sha
          labels: true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ${{ steps.export.outputs.path }}/Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            BASE_IMAGE=ghcr.io/kimanilife/base:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
